body {
    margin: 0;
}

h3 {
    font-size: 20px;
    font-weight: normal;
}

body a:link {
    text-decoration: none;
    color: #1a0dab;
}




.header-nav-container {
    margin: 8px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 12px;
    margin-right: 235px;
}

.header-2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 17px;
}

.logo {
    padding-left: 16px;
    padding-right: 45px;
    margin-top: 5px;
}

.search-form {
    display: flex;
    height: 46px;
    width: 692px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    background: #fff;
    font-size: 16px;
    font-family: arial, sans-serif;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 138px;
    background-image: url(https://raw.githubusercontent.com/Leo-U/google-search-results-page/master/images/search-background.png);
    background-repeat: no-repeat;
    background-size: 109px;
    background-position-x: 562px;
    background-position-y: 5.5px;

}


.search-form:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.apps-img {
    opacity: .65;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.apps-img:hover {
    background-color: rgba(60, 64, 67, 0.1);
    border-radius: 50%;
}

.accounts-button {
    color: #fff;
    background-color:#1a73e8;
    font-family: arial, sans-serif;
    font-weight: 500;
    letter-spacing: .25px;
    padding: 9px 23px;
    line-height: 16px;
    min-width: 96px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 28px;
    margin-left: 14px;
}

.navbar {
    display: flex;
    align-items: baseline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
    margin-top: 22px;
    margin-left: 162px;
    justify-items: center;
}

.nav-all-link {
    display: inline;
    border-bottom: 3px solid #1a73e8;
    padding-left: 8px;
    padding-right: 12px;
    padding-bottom: 12px;
}

.nav-all {
    margin-right: 10px;
    flex-shrink: 0;
}

.nav-news, .nav-maps, .nav-videos, .nav-shopping, .nav-settings {
    margin-right: 1.8em;
    flex-shrink: 0;
}

.img-all, .img-news, .img-maps, .img-shopping, .img-more {
    vertical-align: bottom;
    margin-right: 4px;
}

.img-videos {
    vertical-align: -1px;
    margin-right: 4px;
}

.img-more {vertical-align: -4px;}


.nav-more {
    margin-right: 98px;
    flex-shrink: 0;
}

.navbar a:link {
    text-decoration: none;
    color: #5f6368;
}
.navbar a:visited {
    text-decoration: none;
    color: #5f6368;
}

.nav-border {
    display: flex;
    width: 100%;
    min-width: 1280px;
    height: 5px;
    margin-right: 0;
    left: 0px;
    border-bottom: 1px solid #ebebeb;
    
}

.search-results {
    margin-left: 180px;
    width: 600px;

}

.results-count {
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #70757a;
    margin-top: 14px;
    margin-bottom: 20px;
}


em {
    font-weight: bold;
    font-style: normal;
}

.down-arrow {
    border-style: solid;
    border-width: 5px 4px 0 4px;
    width: 0;
    height: 0;
    position: absolute;
    border-color: #70757a transparent;
    margin-top: 9px;
    margin-left: 8px;

}

.results-top {margin-bottom: -12px;}

.results-top-1 {
    color: #202124;
    font-size: 14px;
}

.results-top-1:link {
    color: #202124;
}

.results-top-1:visited {
    color: #202124;
}

.results-top-2 {
    color: #5f6368;
    font-size: 14px;
}

.results-middle {
    font-size: 20px;
}

.results-middle:hover {
    text-decoration: underline;
}

.results-middle:visited {
    color: #609
}

.results-bottom {
    margin-top: 5px;
    margin-bottom: 29px;
    font-size: 14px;
    color: #4d5156;
    line-height: 1.58;
}

.results-3 {
    margin-top: 30px;
}

.vids-container {
    display: flex;
}

.vidtext {
font-size: 16px;

}

.vidtext:hover {
    text-decoration: underline;
}

.vidbox {
    display: flex;
    flex-direction: column;
    margin-right: 8px;
    margin-top: -7px;
    margin-bottom: 29px;
    width: 210.167px;
    height: 304px;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
}

.vid-caption {
    padding-left: 16px;
    padding-right: 1.6em;
    padding-top: .78em;
    line-height: 1.375;
    height: 6.875em;
}

.vid-author-date {
    line-height: 1.69;
}

.vid-author {
    font-size: 14px;
    margin-left: 16px;
    margin-top: 2.5px;
    color: #808080;
}

.vid-date {
    display: flex;
    font-size: 14px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: -1px;
}

.vid-date-1 {
    color: #808080;
}

.static {
    position: absolute;
}

.static:hover {
    opacity: 0;
}

.results-images-link {
    font-size: 20px;
}

.results-images-link:hover {
    text-decoration: underline;
}

.results-images-link:visited {
    color: #609
}

.results-images-div {
    display: flex;
}

.img-a, .img-b, .img-c, .img-d {
    margin-right: 8px;
    border: 1px solid #dfe1e5;
    border-radius: 4px;
}

.results-images-div-2 {
   margin-top: 13px;
   margin-bottom: 35px;
}

.right-arrow {
    position: absolute;
}

.results-related-container {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 40px;
}

.related-list-1 {
    display: flex;
    flex-direction: column;
}

.related-list-2 {
    display: flex;
    flex-direction: column;
}

.gooogle-container {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin-left: 170px;
}

.gooogle-container a:hover {
    text-decoration: underline;
}

.go {
    display: flex;
    flex-direction: column;
}

.go-image {
    margin-bottom: 12px;
    margin-top: 0px;
}

.o-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8.5px;
}

.o-2-image {
    margin-bottom: 9px;
    margin-top: 0.5px;
}

.o-2-text:link {
    color: #4285f4;
}

.o-2-text:visited {
    color: #4285f4;
}

.gle-image {
    margin-top: -1.75px;
}

.angle-b-image {
    margin-top: -2px;
    margin-left: 1px;
    margin-bottom: 17px;
}

.angle-b-text {
    margin-left: -23px;
}

.angle-b-text:link {
    color: #4285f4;
}

.angle-b-text:visited {
    color: #4285f4;
}
